# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Large Video Files (DO NOT DEPLOY)
*.mp4
*.mkv
*.avi
*.mov

# Output Directories
Categorized_Thumbnails/
Top_Recommended/
uploads/

# OS files
.DS_Store
Thumbs.db
